footer {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 3.87rem;
  background-color: var(--color-secondary);
  font-size: .87rem;
  margin-top: 3.12rem;
}

footer p {
  color: var(--color-text-in-footer);
}