{% extends "layout.njk" %}

{% block head %}
  <title>Sobre - Rocketseat</title>
{% endblock %}

{% block content %}
  <main>
    <div id="content-about">
      <div class="content-header-about">
        <img src="img/logo-rocketseat.png" alt="Logo da Rocketseat">
        <h1>
          <span class="title-decoration">#</span>Rocketseat</h1>
        <p>As melhores tecnologias em programação, direto ao ponto e do jeito certo
          <span>.</span></p>
      </div>
      <h1>
        <span class="title-decoration">#</span>Features</h1>
      <div class="tec-list">
          <div class="card">
              <div class="card-title">
                <img class="card-img" src="/img/javascript-icon.svg" alt="Logo do Javascript">
                <p>Javascript</p>
              </div>
              <p>JavaScript é uma linguagem de script usada em milhões de páginas web em todo o mundo ... A queridinha da galera e essencial para todos os nossos projetos. Por isso ela está presente e operante aqui na Rocketseat!</p>
          </div>
          <div class="card">
              <div class="card-title">
                <img class="card-img" src="img/react-icon.svg" alt="Logo do ReactJs">
                <p>ReactJs</p>
              </div>
              <p>E para descomplicar esse mundo maravilhoso do Javascript e web developer, focamos na praticidade, efetividade e solução rápida para os problemas que o nosso fantásticoReactJs apresenta.</p>
          </div>
          <div class="card">
              <div class="card-title">
                <img class="card-img" src="img/react-icon.svg" alt="Logo do React Native">
                <p>React Native</p>
              </div>
              <p>Não poderiamos dar continuidade ao nosso trablho com ReactJs sem usar o seu irmão mais novo React Native. Sem ele, fica muito mais difícil desenvolver para dispositivos mobile como Android e iOS.</p>
          </div>
      </div>
      <h1>
        <span class="title-decoration">#</span>Manifesto
      </h1>
      <div class="content-manifest card">
        <div class="card-title">
          <img class="card-img" src="img/logo-rocketseat.png" alt="Logo do React Native">
          <p>Com a Rocketseat...</p>
        </div>
        <p>Você encurta seu caminho na aprendizagem para o desenvolvimento web e traz toda a experiência acumulada de devs experientes e excelentes instrutores.
        </p>
        <p>
          A tecnologias apresentadas são hoje um dos melhores caminhos a se seguir e te levam mais fácil ao próximo nível e resultados de carreira. Porém, não quer dizer que são as únicas tecnologias utilizadas.
        </p>
        <p>
          O mundo do desenvolvimento é muito extenso e cada projeto demanda uma certa necessidade de stack. Porém o destaque apresentado as tecnologias acima, são comprovadas com milhares de projetos desenvolvidos e a grande experiência que a Rocketseat e seus desenvolvedores têm.
        </p>
        <p>
          Se você não quer ficar de fora de nenhuma novidade da Rocketseat e receber em primeira mão os lançamentos de nossos bootcamps e eventos, não deixe de nos seguir nas redes sociais!
        </p>
      </div>
    </div>

  </main>
{% endblock %}