{% extends "layout.njk" %}

{% block head %}
  <title>Sobre - Rocketseat</title>
{% endblock %}

{% block content %}
  <main>
    <div id="container-about">
      <div class="content-header-about">
        <img src="img/logo-rocketseat.png" alt="Logo da Rocketseat">
        <h1>
          <span class="title-decoration">#</span>Rocketseat</h1>
        <p>As melhores tecnologias em programação, direto ao ponto e do jeito certo
          <span>.</span></p>
      </div>
      <div class="tec-list">
        <h1>
          <span class="title-decoration">#</span>Features</h1>
        <ul>
          <div class="card">
            <li>
              <i class="fab fa-js-square">Javascript</i>
              <p>JavaScript é uma linguagem de script usada em milhões de páginas web em todo o mundo ... A queridinha (S2) da galera e essencial para todos os nossos projetos(:)). Por isso ela está presente e operante aqui na Rocketseat!</p>
            </li>
          </div>
          <div class="card">
            <li>
              <i class="fab fa-react">ReactJs</i>
              <p>E para descomplicar esse mundo maravihoso do Javascript e do desenvolvimento web, focamos no que é essencial em nossa vida de developer. A praticidade, efetividade e solução rápida dos problemas ... Nosso fantástico ReactJs dá conta do recado e como respaldo é usado por milhões de usuários e empresas mundo afora e essencial para qualquer projeto.</p>
            </li>
          </div>
          <div class="card">
            <li>
              <i class="fab fa-react">React Native</i>
              <p>E não poderiamos dar continuidade ao nosso trablho com ReactJs sem usar o seu irmão mais novo React Native. Sem ele, fica muito mais difícil desenvolver para dispositivos mobile como Android e iOS.</p>
            </li>
          </div>
        </ul>
      </div>
      <h1></h1>
      <p>Como o Diego Fernandes sempre diz. A Rocketseat encurta seu caminho na aprendizagem para o desenvolvimento web e traz toda a experiência acumulada de devs experientes e excelentes instrutores. 

      A tecnologias apresentadas são hoje um dos melhores caminhos a se seguir e te levam mais fácil ao próximo nível e resultados de carreira. Porém, não quer dizer que são as únicas tecnologias utilizadas. 

      O mundo do desenvolvimento é muito extenso e cada projeto demanda uma certa necessidade de stack. Porém o destaque apresentado as tecnologias acima, são comprovadas com milhares de projetos desenvolvidos e a grande experiência que a Rocketseat e seus desenvolvedores têm. 

      Se você não quer ficar de fora de nenhuma novidade da Rocketseat e receber em primeira mão os lançamentos de nossos bootcamps e eventos, não deixe de nos seguir nas redes sociais!
      </p>
    </div>

  </main>
{% endblock %}