{% extends "layout.njk" %}

{% block head %}
  <title>Conteúdos - Rocketseat</title>
  <link rel="stylesheet" href="/styles/course.css">
{% endblock %}

{% block content %}
  <div class="course">
    <h1><span class="title-decoration">#</span>{{item.description}}</h1>
    <div class="card" id="{{item.id}}">
      <div class="card-page">
        <iframe src="https://rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
      </div>
      <div class="card-info">
        <p>{{item.modules}}</p>
        <p class="card-price">{{item.price}}</p>
      </div>
    </div>
  </div>
{% endblock %}