{% extends "layout.njk" %}

{% block head %}
  <title>Conteúdos - Rocketseat</title>
  <link rel="stylesheet" href="/styles/styles-content.css">
  <link rel="stylesheet" href="/styles/modal.css">

  <script src="/scripts/modal.js" defer></script>
{% endblock %}

{% block content %}
  <main>
    <div id="wrapper">
      <h1>Alcance o próximo nível<span class="point-decoration">.</span></h1>
      <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>
      <div class="tec-list-c">
        <i class="fab fa-js"></i>
        <i class="fab fa-react"></i>
        <i class="fab fa-node-js"></i>
      </div>
    </div>
    <div class="cards">
      <div class="card" id="starter">
        <div class="card_image">
          <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/starter.svg" alt="Logo da Rocketseat">
        </div>
        <div class="card-content card-rocket">
          <p>O começo é fundamental!</p>
        </div>
        <div class="card-info">
          <p>10 Modulos</p>
          <p class="card-price">GRÁTIS</p>
        </div>
      </div>
      <div class="card-decoration">
        <i class="fas fa-arrow-down fw-web"></i>
        <i class="fas fa-arrow-right fw-mobile"></i>
      </div>
      <div class="card" id="">
        <div class="card_image">
          <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/launchbase.svg" alt="Logo da Rocketseat">
        </div>
        <div class="card-content card-launchbase">
          <p>Preparamos a nossa base ...</p>
        </div>
        <div class="card-info">
          <p>10 Modulos</p>
          <p class="card-price">PAGO</p>
        </div>
      </div>
      <div class="card-decoration">
        <i class="fas fa-arrow-down fw-web"></i>
        <i class="fas fa-arrow-right fw-mobile"></i>
      </div>
      <div class="card" id="">
        <div class="card_image">
          <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/gostack.svg" alt="Logo da Rocketseat">
        </div>
        <div class="card-content card-gostack">
          <p>... ao infinito e além!!</p>
        </div>
        <div class="card-info">
          <p>10 Modulos</p>
          <p class="card-price">PAGO</p>
        </div>
      </div>
    </div>
  </main>

  <section>
    <div id="communitys">
      <div class="community-content">
        <h1>Acelere a sua evolução. Participe da nossa comunidade no Discord<span class="point-decoration">.</span></h1>
        <p>Potencialize o seu aprendizado, destaque-se entre os programadores e ganhe prêmios exclusivos.</p>
        <a class="btn-community" href="https://discordapp.com/invite/gCRAFhc">
          <div class="btn-community-content">Acessar Comunidade</div>
        </a>
      </div>
      <div class="img-community">
        <img src="https://discord.com/assets/4a021d70e0c35ec16ef6d2502fd6ed5c.svg" alt="Comunidade no Discord">
      </div>
    </div>
  </section>
{% endblock %}

{% block modal %}
  <div class="modal-overlay">
    <div class="modal maximize">
      <a class="maximize-modal" onclick="openFullscreen();">
        <i class="far fa-window-maximize"></i>
      </a>
      <a class="minimize-modal" onclick="closeFullscreen();">
        <i class="fas fa-window-minimize"></i>
      </a>
      <a class="close-modal" onclick="closeFullscreen();">
        <i class="far fa-window-close"></i>
      </a>
      <div class="modal-content">
        <iframe frameborder="0"></iframe>
      </div>
    </div>
  </div>
{% endblock %}