<!DOCTYPE html>
<html lang="en">
  <html>

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% block head %}
        <title>Rocketseat</title>
      {% endblock %}
      <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="/styles/main.css">
      <link rel="stylesheet" href="/styles/styles-about.css">
      <link rel="stylesheet" href="/styles/menu-mobile.css">

      <script src="/scripts/menu-mobile.js" defer="defer"></script>
    </head>

    <body>
      <header>
        <nav>
          <div id="menu-list">
            <i onclick="menuMobile()" class="fas fa-bars menu-btn"></i>
            <ul id="menu-list-ul" class="menu-list-content">
              <a href="https://discordapp.com/invite/gCRAFhc">
                <li>Comunidade</li>
              </a>
              <a href="mailto: oi@rocketseat.com.br">
                <li>Email</li>
              </a>
              <a href="tel: +5547992078767">
                <li>Telefone</li>
              </a>
              <a href="/">
                <li>Sobre</li>
              </a>
              <a href="/courses">
                <li>Conteúdos</li>
              </a>
            </ul>
          </div>
          <div class="display-web">
            <div class="logo"><img src="/img/rocketseat_logo.png" alt="Logo da Rocketseat"></div>
            <div id="menu-list-web">
              <ul>
                <a href="https://discordapp.com/invite/gCRAFhc">
                  <li>Comunidade</li>
                </a>
                <a href="mailto: oi@rocketseat.com.br">
                  <li>Email</li>
                </a>
                <a href="tel: +5547992078767">
                  <li>Telefone</li>
                </a>
                <a href="/about">
                  <li>Sobre</li>
                </a>
                <a href="/">
                  <li>Conteúdos</li>
                </a>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <div id="container">

        {% block content %}{% endblock %}

        <footer>
          <div class="content-footer">
            <div class="links-footer">
              {% for link in links %}
              <a href="{{link.url}}" target="_blank">
                <i class="{{link.icon}}"></i>
              </a>
              {% endfor %}
            </div>
            <div class="logo-footer">
              <p>Desenvolvido com
                <i class="fas fa-heart"></i>
                por
              </p>
              <a href="/"><img src="/img/andrebonfimdev-logo.png" alt="Rocketseat"></a>
            </div>
          </div>
        </footer>

      </div>
      {% block modal %}{% endblock %}
    </body>

  </html>