{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Receitas</title>
  <link rel="stylesheet" href="styles/home.css">

  <script src="/scripts/modal.js" defer="defer"></script>
{% endblock %}

{% block content %}
  <div class="recipes-content">
    {% for item in items %}
      <div class="card">
        <img class="my-img" src="{{item.image}}" alt="{{item.title}}">
        <p>{{item.title}}</p>
        <small>{{item.description}}</small>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block modal %}
  <div id="my-modal" class="modal">
    <div class="modal-content">
      <img id="img-modal">
      <h2 id="modal-title"></h2>
      <small id="modal-author"></small>
      <div class="close" onclick="document.getElementById('my-modal').style.display='none'">Fechar</div>
    </div>
  </div>
{% endblock %}